asgiref
certifi
cffi
cfgv
charset-normalizer
coreapi
coreschema
cryptography
defusedxml
distlib
Django
django-colorfield
django-filter
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
filelock
fpdf
identify
idna
itypes
Jinja2
MarkupSafe
nodeenv
oauthlib
Pillow
platformdirs
pre-commit
pycparser
PyJWT
python3-openid
pytz
PyYAML
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
sorl-thumbnail
sqlparse
tzdata
uritemplate
urllib3
virtualenv
gunicorn
psycopg2-binary
python-dotenv
